/* start custom scss snippet */

/* ------------------- */
/* general resets */

body {
	counter-reset: figureCounter;
}

/* ------------------- */
/* custom figure handling */

figure {
    padding: 1em;
    display: table;
}

figure img {
    display: block;
}

figcaption.numbered {
    counter-increment: figureCounter;
}

figcaption.numbered::before {
    content: 'Fig. ' counter(figureCounter) ' - '
}

figcaption {
    font-style: italic;
    display: table-caption;
    caption-side: bottom;
}

/* end custom scss snippet */
